@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One');

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: white;
  font-family: sans-serif;
}

.head {
  background: transparent; 
}

.logo {
  color: white;
  cursor: pointer;
  float: left;
  margin: 3%;
  background-color: inherit;
}

.logo > span {
  font-size: 1.7em;
  line-height: 45px;
  margin-left: 10px;
  font-family: 'Suez One', serif;
}

.about li {
  text-align: center;
  display: inline-block;
  padding: 10px;
  font-size: 1.5em;
  font-family: raleway;
  list-style-type: none;
}

.menu {
  float: right;
  margin: 3%;
  background-color: inherit;
}

.about a {
  color: white;
  text-decoration: none;
}

.top {
  width: 100%;
  height: 650px;
  background-image: url(../images/Path1.png);
  text-align: center;
  background-color:rgba(0, 0, 0, 0.877);
  color: #fff;
  margin: 0%;
} 
.greet {
  padding-top: 16%;
  text-align: center;
  width: 100%;
}

.greet h1 {
  font-size: 4em;
  padding: 2%;
}

.greet h2 {
  font-size: 1.5em;
}



.greenBtn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-top: 3%;
}




.eduImg > img{
  float: left;
  padding: 5%;
}

.eduInfo h2 {
  padding-top: 5%;
  padding-bottom: 2%;
  font-weight: bold;
  font-size: 1.3em;
  text-align: left;
  /* margin-right: 15%; */
}

.eduInfo p {
  width: 85%;
  color: gray;
}

.eduInfo #list1 {
  list-style-image: url(../images/icon_1.png);
  list-style-position: inside;
}
.eduInfo #list2 {
  list-style-image: url(../images/icon_2.png);
  list-style-position: inside;
}
.eduInfo #list3 {
  list-style-image: url(../images/icon_3.png);
  list-style-position: inside;
}

.eduInfo li {
  padding: 1%;
}

.eduInfo ul {
  padding-top: 5%;
  font-weight: 550;
  font-size: 1.5em;
}

.main-heading {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 2%;
}

.features {
  margin-top: 17%;
  padding-top: 2%;
  padding-bottom: 5%;
  margin-bottom: 2%;
}

.flex-container { 
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  background-color:#f2f2f2;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}

.flex-container > figure {
  /* width: 200px; */
  width: 15%;
  margin-right: 2%;
  text-align: center;
  font-size: 0.9em;
  padding-bottom: 5%;
  padding-left: 7%;
  padding-right: 5%;
}

.headline{
  padding: 7%;
}

.flex-container  figcaption {
  color: grey;
}


.online-test-img {
  background-color: white;
  border-radius: 100%;
  width: 100%;
  height: 200px;
}

.online-test-img > img {
  padding-top: 25%;
}

.card {
    margin-top: 1%;
    margin-left: 6%;
    padding-bottom: 2%;
    width: 25%;
    background-color:#f2f2f2;
}

.card > img {
    width: 100%;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}


.card-body > p {
  padding: 5%;
  border-bottom: 2px solid gray;
  
}

.card-body > h2 {
  padding-left: 5%;
}

.card-body > h3{
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  padding: 3%;
  margin: 5%;
  border-bottom: 1.5px solid gray;

}

.card-body > button {
  margin-left: 10%;
  margin-top: 10%;
  width: 80%;
  border-radius: 2rem;
}

.view-all{
    width: 100%;
    text-align: center;
    margin: 3%;
}

.view-all  button{ 
    border: none;
    font-size: 1.5em;
    padding: 15px 25px; 
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    background-color: inherit; 
    color: #6e6c6cd7;
}

.teachers{
  background-color: #f2f2f2;
  margin-top: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
}


.person-info { 
  float: right; 
  font-weight: bold;
  width: 60%;
  font-size: 1.2em;
  padding-top: 5%;
}

.green-info { 
  color: green;

}

.grid-container {
  display: grid;
  grid-gap: 30px 90px;
  grid-template-columns: auto auto auto;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-right: 10%;
  margin-left: 10%;
}

.programs{
  padding-top: 1%;
  background-color: white;
}

.programs .main-heading{
  padding: 3%;
}

.program-image {
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  position: relative;
}

.program-image img {
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #00AF5D; 
}
.program-image h2 {
  position: absolute;
  top: 30%;
  text-align: center;
  color: #fff;
  font-size: 1.7em;
  width: 100%;
  font-weight: bold;
}

.program-info {
  position: absolute;
  top: 45%;
  width: 100%;
  color: #fff;
  text-align: center;
  font-weight: normal;
}

.program-info h4 {
  width: 50%;
  padding-left: 25%;
  
}

.clients {
  background-color: #f2f2f2;
  padding-top: 1%;
  padding-bottom: 1%;
}

.clients .main-heading {
  padding-top: 3%;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto 0 auto;
  border-radius: 4px;
  padding-bottom: 3%;
}

#slider ul {
  position: relative;
  margin: 0 ;
  padding-left: 25%;
  padding-right: 25%;
  height: 200px;
  list-style: none;
  text-align: center;
  width: 100%;
}

#slider li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 10%;
  height: 250px;
  text-align: center;
  line-height: 300px;
}

#slider p {
  padding-left: 30%;
  padding-right: 30%;
  margin: 4%;
  text-align: center;
  color: gray;
}

#slider h2{
  text-align: center;
  font-weight: bolder;
  width: 100%;
  padding: 0;
  margin: 0;
}

#slider h3{
  text-align: center;
  font-weight: bolder;
  color: #2e3a44;
  width: 100%;
  padding: 0;
  margin: 0;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 10%;
  width: auto;
  height: auto;
  color: grey;
  text-decoration: none;
  font-weight: lighter;
  font-size: 3em;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.blog .main-heading {
  padding-top: 3%;
}

div.scroll {
  overflow: auto;
  white-space: nowrap;
}

.scroll-member {
  display: inline-block;
  width: 20%;
  text-align: center;
  padding: 1%;
  text-decoration: none;
  white-space: normal;
}

.scroll-member h3 {
  padding: 10%;
  width: 75%;
}

.scroll-content p{
  font-size: 0.9em;
  color: grey;
  
}
.scroll-content {
  text-align: center;
  line-height: 1.2em;
}
.read-more{
  text-align: center;
  padding: 2%;
}

.subscription {
    background-image: url(../images/Rectangle65.png);
    color: white;
    width: 100%;
}

.sub-text {
  text-align: center;
}

.sub-text h1 {
  display: inline-block;
  padding: 3%;
  font-size: 2em;
}

.sub-text input {
  border: none;
  border-bottom: 2px solid gray;
  background: inherit;
  width: 30%;
  line-height: 35px;
  color: white;
  font-size: 1.5em;
}

.roundBtn {
    border-radius: 2rem;
    width: 10%;
    font-size: 1.1em;
    font-weight: bold;
}

.contact-form .main-heading{
  padding-top: 3%;
}
.contact-body{
  width: 30%;
  margin: 5%;
  display: inline-block;
}

.contact-body input {
  border: none;
  border-bottom: 2px solid gray;
  background: inherit;
  width: 100%;
  line-height: 30px;
  font-size: 0.9em;
  padding: 1%;
  font-weight: bold;
}

.contact-body textarea{
  width: 100%;
  padding-bottom:25%;
  padding-left: 1%;
  margin-top: 3%;
  line-height: 30px;
  font-size: 0.9em;
  font-weight: bold;
}

.contact-body button{
  display: block;
  width: 25%;
}

.contact-location {
  display: inline-block;
  width: 50%;
}

.contact-location iframe {
  border: 0;
  width: 90%;
  height: 250px;
}
.contact-info {
  width: 100%;
  padding-top: 5%;
 
}

.info {
  display: inline-block;
  padding-right: 10%;
 
}

.info > p {
  display: block;
  font-size: 0.8em;
  text-align: left;
 color: gray;
}


.foot {
  margin: 0;
  padding: 0;
  background-color: #1A1A1A;
  width: 100%;
  height: 90px;
}

.foot > .logo {
    margin: 0;
    padding-top: 2%;
    padding-left: 6%;
    padding-bottom: 1%;
}
.foot > .menu {
  margin: 0;
  padding-top: 2%;
  padding-right: 6%;
  padding-bottom: 1%;
  font-size: 0.8em;
}

@media (max-width: 375px){
    .about{
        color: inherit;
    }
    .about li {
      font-size: 1em;
    }
    .top {
      font-size: 0.9em;
      background-color: #1A1A1A;
      background-image: none;
    }
    .greet h1 {
      padding-top: 50%;
      padding-bottom: 7%;
      font-size: 2.5em;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .greet h2 {
      font-size: 1em;
      padding-left: 25%;
      padding-right: 25%;
      padding-bottom: 10%;
      font-weight: normal;
    }
    .roundBtn {
      width: 40%;
    }

    .eduImg  img {
      content: url(../images/Path3.png);
      width: 90%;
      padding-top: 5%;
      padding-left: 5%;
      margin: 0%;
    }
    .eduInfo h2 {
      margin: 0;
      padding-left: 5%;
    }

    .eduInfo p {
      padding-left: 5%;
    }

    .eduInfo li {
      padding-left: 5%;
      font-weight: 500;
    }

    .main-heading {
      margin: 5%;
      width: unset;
    }
    .flex-container > figure {
      width: 55%;
    }
    .card{
      width: 100%;
      margin-top: 5%;
      margin-left: 0%;
    }

    .card-body > h2 {
      padding: 5%;
    } 

    .card-body > p {
      padding-right: 30%;
      padding-left: 5%;
      padding-bottom: 5%;
    }

    .teachers .grid-container {
      grid-template-columns: unset;
    }

    #slider ul {
      padding-left: 0;
      padding-right: 0;
    }

    #slider li {
      width: 15%;
      margin: 1%;
    }

    .scroll-member {
      width: 100%;
    }

    .scroll-member p {
      padding-bottom: 5%;
    }

    .scroll-member h3 {
      width: unset;
    }

    .read-more button{
      margin: 7%;
    }

    .sub-text input {
      width: 80%;
    }

    .sub-text button {
      margin: 10%;
    }

    .sub-text h1 {
      padding: 20%;
    }

    .contact-body {
      width: unset;
    }
    .contact-body textarea {
      border: 1px solid grey;
    }
    .contact-body button {
      width: 50%;
      margin-left: 25%;
    }
    .contact-location iframe {
      width: unset;
      margin-left: 20%;
    }
    .info {
      display: flow-root;
      margin-left: 25%;
    }

    .info > p {
      padding-left: 20%;
      padding-bottom: 5%;
    }
}